:root{
    --color-primary:#32ADE6;
    --color-body:#737477;
    --color-border:#D4EDFB;
    --color-start:#ff6d1c;

}

.header{
    width: 100%;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
}
.header p{
    color: black;
}
.lesson-content {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 32px;
    align-items: center;
}
iframe{
    height: 500px;
}
.icon-menu{
    display: none;
    font-size: 30px;
    margin-right: 16px;
}
.menu-item{
    display: block;
}
.icon-close{
    margin-left: 10px;
    background-color: var(--color-primary);
    padding:  6px 8px;
    border-radius: 5px;
}
@media screen and (min-width: 900px) {
    .icon-close{
    display: none;        
    }
  }

@media screen and (max-width: 900px) {
    .lesson-content {
        display: flex;
    }
    .icon-menu{
        display: block;
    }
    .menu-item{
        display: none;
        position: absolute;
        background-color: white;
        width: 300px;
        right: 0;
        z-index: 1000;
    }
    .menu-item.show{
        display: block;
        transform: translateX(100%); /* Bắt đầu ở bên phải */
        animation: slideIn 0.5s forwards; /* Thêm hiệu ứng */
    }
  }

  @media screen and (max-width: 800px) {
    iframe{
    height: 350px;
}
  }

  @media screen and (max-width: 550px) {
    iframe{
    height: 250px;
}
  }
  @media screen and (max-width: 400px) {
    iframe{
    height: 200px;
}
  }
  @keyframes slideIn {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(0); 
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0); 
    }
    to {
        transform: translateX(100%); 
    }
}

.detail-lesson{
    
    height: 100vh;
}
.name-course h6{
    font-weight: bold;
}
.name-lesson{
    border-bottom: solid 1px var(--color-border);
    margin: 5px;
}
.name-lesson i{
    color: var(--color-body);
}
.danghoc{
    background-color: var(--color-border);
}
.overflow-y-scroll{
    height: 90vh;
}
.chucvu p{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.chucvu{
    background-color: var(--color-border);
    border-radius: 5px;
}
.binhluan{
    background-color: var(--color-border);
    border-radius: 5px;
}
.vietbinhluan textarea{
    padding-left: 10px;
    margin-left: 20px;
    width: 90%;
    height: 100px;
    border: solid 1px black;
}
.vietbinhluan i:hover{
    cursor: pointer;
}
.fa-star{
    color: var(--color-start);
}
.title-lesson h6{
    font-size: 25px;
    font-weight: bold;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #d6d6dd;
    border-radius: 10px;
}